.gradle/
.idea/
.log/
log/
build/
target/
*.iml
classes/*
*.ipr
*.iws
publish
.classpath
.project
.settings
application.pid
bin/
out
pom.xml
logs/
keytmp/
src/main/resources/application-local.properties
run/
dist-deploy/
run_backup/
.apt_generated/
~$*

uploadTestTemp/

.sass-cache/
bower_components/
node_modules/
dist/
coverage/
src/css/
src/js/templates.js
*.js.map
*.css.map
*.bak.js
test.js
mocks/mock-api/
mocks/_apis/
tmp/
npm-debug.log


.tags
.tags1
.tags2
.DS_Store
/portal-client/.idea

/application.pid
logs/*

.gradle/
.idea/
build/
.project
.classpath
bin/
target/
*.log
publish/
.settings
*.iml
run/
run_backup/
.mock/mock-api/all.GET.response.200.js
.mock/mock-api/index.html
mock-api
.factorypath
~$*
*.ipr
*.iws
out/
.class